* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #181a1b;
    color: whitesmoke;
}


#quote-container{
    width: 100%;
    text-align: justify;
}

q,p {
    line-height: 3rem;
    font-size: 2rem;
}

#button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#nextBtn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#output {
    margin: 2rem 20rem 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#title_header {
    margin-top: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title_header_mobile {
    display: none;
}

[data-darkreader-mode="dynamic"] body{
    background: none;
}


@media only screen and (max-width: 1000px){
    *{
        margin: 0;
        padding: 0;
    }
    #title_header {
        display: none;
    }

    #title_header_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
    }
    
    #output{
         margin: 2rem 10rem 0 10rem;
    }
}


@media only screen and (max-width: 700px){
    
    #output{
         margin: 2rem 5rem 0 5rem;
    }
}

@media only screen and (max-width: 500px){
    
    #output{
         margin: 2rem 2rem 0 2rem;
    }
}



@media only screen and (min-width: 1000px){
    #output{
         margin: 2rem 10rem 0 10rem;
    }
}